@import "mocha.css";
* {
  font-family: Jetbrains Mono Nerd Font, sans-serif;
}

window#waybar {
  font-size: 15px;
  background-color: @crust;
  transition-property: all;
  transition-duration: .5s;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}


/* Left modules */

.modules-left{
  color: @lavender;
}

#workspaces{
}

#cpu{
}

#workspaces button {
  font-size: 17px;
  padding: 10px 5px;
  color: @lavender;
  border-radius:0;
  outline:none;
  border:none;
  background-color: @surface0;
  border-bottom: 5px solid @surface0;
  margin-right: 3px;
}

#workspaces button:hover {
  color:@pink; 
  background-color: @surface1;
}

#workspaces button.active {
  color: @mauve;
  background-color: @surface1;
}

#workspaces button.empty {
  background-color: @base;
  border-bottom: 5px solid @base;
}

#workspaces button.hosting-monitor.active {
  border-bottom: 5px solid @lavender
}

#workspaces button.urgent {
  color: @maroon;
}

/* Center Modules */

.modules-center{
  color: @mauve;
  padding-left:10px;
  padding-right:10px;
}

/* Right modules */
.modules-right{
  color: @lavender;
  padding-right:10px;
}

#network{
  padding:10px;
}
