@import "gruvbox.css";
* {
  font-family: Jetbrains Mono Nerd Font, sans-serif;
  min-height: 0;
}

window#waybar {
  font-size: 12px;
  background-color: @waybar;
  transition-property: all;
  transition-duration: .5s;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}


/* Left modules */

.modules-left{
  color: @text-main;
}

#workspaces{
}

#tags {
  
}

#cpu{
}

#workspaces button {
  font-size: 14px;
  padding: 5px 0px;
  color: @fg0;
  border-radius:0;
  outline:none;
  border:none;
  background-color: @workspaces-bg;
  /* border-bottom: 5px solid @workspaces-bg; */
  /* margin-right: 3px; */
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  color:@workspaces-hover; 
  background: @workspaces-bg;
}

#workspaces button.empty {
  background-color: @workspaces-empty;
  color: @fg;
  /* border-bottom: 5px solid @workspaces-empty; */
}

#workspaces button.visible {
  background-color: @workspaces-visible;
}

#workspaces button.focused {
  color: @workspaces-active;
  background-color: @workspaces-full;
  /* border-bottom: 5px solid @workspaces-active */
}

#workspaces button.empty.focused {
  background-color: @workspaces-full;
  color: @workspaces-active;
  /* border-bottom: 5px solid @workspaces-active */
}

#workspaces button.urgent {
  color: @alert;
}

#tags button {
  font-size: 14px;
  padding: 5px 0px;
  color: @fg0;
  border-radius:0;
  outline:none;
  border:none;
  background-color: @workspaces-bg;
  /* border-bottom: 5px solid @tags-bg; */
  /* margin-right: 3px; */
}

#tags button:hover {
  box-shadow: none;
  text-shadow: none;
  color:@tags-hover; 
  background: @tags-bg;
}

#tags button.empty {
  background-color: @workspaces-empty;
  color: @fg;
  /* border-bottom: 5px solid @tags-empty; */
}

#tags button.visible {
  background-color: @workspaces-visible;
}

#tags button.focused {
  color: @workspaces-active;
  background-color: @workspaces-full;
  /* border-bottom: 5px solid @tags-active */
}

#tags button.empty.focused {
  background-color: @workspaces-full;
  color: @workspaces-active;
  /* border-bottom: 5px solid @tags-active */
}

#tags button.urgent {
  color: @alert;
}

/* Center Modules */

.modules-center{
  color: @text-main;
  padding-left:10px;
  padding-right:10px;
}

#cava {
  color: @cava;
}

/* Right modules */
.modules-right{
  color: @text-main;
  padding-right:10px;
}

#network{
  padding-right: 5px;
}

#wireplumber.muted {
  color: @mute;
}
