@import "gruvbox.css";
* {
  font-family: Jetbrains Mono Nerd Font, sans-serif;
  min-height: 0;
}

window#waybar {
  font-size: 12px;
  background-color: @waybar;
  transition-property: all;
  transition-duration: .5s;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}


/* Left modules */

.modules-left{
  color: @text-main;
}

#workspaces{
}

#workspaces button {
  font-size: 12px;
  padding: 0px 0px;
  margin: 0px 0px;
  min-width: 22px;
  color: @blue2;
  border-radius:0;
  outline:none;
  border:none;
  background-color: @workspaces-bg;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.empty {
  background-color: @workspaces-empty;
  color: @fg;
}

#workspaces button.visible {
  background-color: @workspaces-visible;
}

#workspaces button.focused {
  color: @workspaces-active;
  background-color: @workspaces-full;
}

#workspaces button.empty.focused {
  background-color: @workspaces-full;
  color: @workspaces-active;
}

#workspaces button.urgent {
  background-color: @alert;
  color: @workspaces-active;
}

#window {
  padding-left: 6px;
  color: @blue2;
}

/* Center Modules */

.modules-center{
  color: @text-main;
  padding-left:10px;
  padding-right:10px;
}

#cava {
  color: @cava;
}

/* Right modules */
.modules-right{
  /* background-color: @bg2; */
  color: @text-main;
  padding-right:10px;
}

#tray {
  padding-right: 6px;
  background-color: @waybar;
}

#network{
  padding-right: 5px;
}

#mpd {
  padding-left: 6px;
  padding-right: 6px;
  /* background-color: @bg2; */
  /* border-right: 1px solid @blue2; */
  /* border-left: 1px solid @blue2; */
  color: @blue2;
}

#clock {
  color: @blue2;
  padding-left: 6px;
}

#language, #custom-vpn, #memory, #wireplumber{
  padding-right: 6px;
  padding-left: 6px;
  /* border-right: 1px solid @blue2; */
  color: @blue2;
}

#custom-separator {
  color: @blue2;
  font-size: 14px;
}

#language {
  /* border-left: 1px solid @blue2; */
}

#wireplumber.muted {
  color: @mute;
}
